<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Showbot</title>

	{% if not dev %}
	{# Let webpack take the wheel when in dev mode #}
	<link rel="stylesheet" href="{{ '/assets/main.css' | asset }}" />
	{% endif %}
	<link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet" />
</head>
<body>
	<section class="hero is-fullheight" id="loading">
		<div class="hero-body">
			<div class="container has-text-centered">
				<h1 class="title">Loading showbot core...</h1>
				<noscript>
					<h2 class="subtitle">Please enable javascript!</h2>
				</noscript>
			</div>
		</div>
	</section>

	<div id="app"></div>

	<script>
		if (!window.Promise) { document.write('<script src="{{ '/assets/polyfill.js' | asset }}"><\/script>'); }
	</script>
	<script src="{{ '/assets/main.js' | asset }}"></script>
</body>
</html>
