{
	"presets": [
		["env", {
			"targets": {
				"browsers": "> 1%, last 2 versions, Firefox ESR"
			},
			"modules": false
		}]
	],
	"plugins": [
		"transform-runtime"
	],
	"env": {
		"production": {
			"presets": [
				["env", {
					"targets": {
						"browsers": "> 1%, last 2 versions, Firefox ESR"
					},
					"modules": false,
					"loose": true
				}]
			]
		}
	}
}
