@import "~bulma";
@import "motion-ui/motion-ui";

.table {
	.is-empty {
		text-align: center;
		color: $grey;
	}
}

.voteable {
	cursor: pointer;
}

.highlightable {
	background-color: rgba($yellow, 0);
	transition: background-color 1s;
	
	&.is-highlighted {
		background-color: rgba($yellow, 1);
		transition-duration: 0s; /* Let it instantly at start */
	}
}
