/// Creates a fade transition by adjusting the opacity of the element.
/// @param {Number} $from [0] - Opacity to start at. Must be a number between 0 and 1.
/// @param {Number} $to [1] - Opacity to end on.
/// @param {Keyword} $duration [null] - Length (speed) of the transition.
/// @param {Keyword|Function} $timing [null] - Easing of the transition.
/// @param {Duration} $delay [null] - Delay in seconds or milliseconds before the transition starts.
@mixin vue-mui-fade(
	$from: 0,
	$to: 1,
	$duration: null,
	$timing: null,
	$delay: null
) {
	$fade-in: fade($from, $to);
	$fade-out: fade($to, $from);

	&-enter-active, &-leave-active {
		@include transition-basics($duration, $timing, $delay);
		transition-property: opacity;
	}

	&-enter-active {
		@include -mui-keyframe-get($fade-in, 100);
	}
	&-enter {
		@include -mui-keyframe-get($fade-in, 0);
	}

	&-leave-active {
		@include -mui-keyframe-get($fade-out, 100);
	}
	&-leave {
		@include -mui-keyframe-get($fade-out, 0);
	}
}
